*.vcxproj
*.filters
*.user
x64/
.vs/
.vscode/

sprint 4/topik 2/lesson 4/.vscode/settings.json
/sprint6/Lesson4/.vs/Lesson4/v17
/sprint6/Lesson4/.vs/Lesson4/FileContentIndex
/sprint6/Lesson4/Lesson4/x64/Debug/Lesson4.tlog
/sprint6/Lesson4/Lesson4/x64/Debug
/sprint6/Lesson4/x64/Debug
/sprint 6/Topic3/Lesson 2/Lesson 2/a.txt
/sprint 6/Topic3/Lesson 2/Lesson 2/b.txt
/sprint 6/Topic3/Lesson 2/Lesson 2/test_config.txt
*.sln
/sprint 6/Topic3/Lesson 4/Lesson 4/test.txt
/sprint 6/Topic3/Lesson 4/Lesson 4/test2.txt
